@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    font-family: "Source Sans 3", sans-serif!important;
}
body{
    background-color:#14171f;
    
    
}
body i {
    font-family:'FontAwesome'!important;
    }
.hero{
    background-image: linear-gradient(rgba(0,0, 0, 0)67%, rgba(20,23,31)), url(images/hero-image.jpg);
    background-size: cover;
    background-position-x:center;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}
.hidden-hero{
    display: none;
}
.nothing-img{
    height:384px; 
    width: 512px;
    
}
.title-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 162px;
}

.arc-banner{
    background-image: url(images/promo.jpg);
    height: 440px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.arc-text{
    padding-left: 6rem;
    padding-right: 6rem;
}
.our-games{
    background-image: url(images/ourgames-collage.jpg);
    background-position-x: center ;
    background-position: 50%;
    background-size: cover;
    height: 466.7px;
    width: 100%;
    margin: 5rem 0 0 0;
    

}




 .our-games-text{
    padding-left: 112px;
 }


 .wanna{

padding-left: 112px;
padding-right: 112px;

}


.exp-button{
    width: 300px;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 600px;

    
}

  .navbar{
    background-color:#101010;
} 
.nav-link{
    color: white;
    
    font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-left: 2.25rem;
  
} 

footer{
    color: white;
    font-size: 12px;
    background-color: #101010;
    
}

footer ul{
    list-style-type: none;
}

footer li{
    padding: .625rem 0;
}
.tobehidden{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.arrows{
    display: flex;

    justify-content: end;
}
.slider-heading{
    margin-top: 3rem;
}

.tobehidden{
    margin-top: 2.5rem;
}






 @media (max-width: 978px){
   
    
    .our-games-text{
        padding-left:.75rem;
    }
    .our-games{
        height: 290px;
    }

    

    .wanna{
        padding: 2rem;
        
    }
    .about{
        margin-bottom: 69px;
    }
    .hidden-hero{
        display:block;
    }
    .tobehidden{
        display: none;
    }

    .hero{
        height: 342px;
    }
    .arc-text{
        padding: 1rem;
    }

    .arc-banner{
        height: 520px;
    } 

    
    footer li{
        display: none;
    }
    .f-heading{
        display: inline;
    }
    .arrows{
        display: hidden;
    }
    .sign{
        width: 128.4px;
    }

 }

 @media (max-width: 570px){

    .exp-button{
        width: 100%;
    }

    .our-games{
        height: 557.183px;
    }

    .arc-banner{
        height: 760px;
    }

}


 .play{
    margin-top: 4rem;
    margin-bottom: 4rem;
 }

 /* SLIDER */
 .showcase{
    height: 502px;
    padding-bottom: 60px;
    
    
    
}
.item{
    min-width: 416px;
    height: 234px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:30px;
    
}

.slide-logo{
    width:208px;
    
}

#one{
    background-image: url(images/CS2.jpg);
}
#two{
   background-image: url( images/ageofwonders4-bg.jpg);
}
#three{
    background-image: url(images/millennia.jpg);
}
#four{
    background-image: url(images/pa2-main.jpg);
}
#five{
    background-image: url(images/ck3-img.jpg);
}
#six{
    background-image:url(images/stellaris.png);
}
#seven{
    background-image: url(images/bloodlines-2.jpg);
}
#eight{
    background-image:url(images/v3-mainbg-web.jpg);
}
#justaftereight{
    background-image: url(images/ato-main.jpg);
}
#nine{
    background-image: url(images/lamp-frontpage.jpg);
}
#ten{
    background-image: url(images/lby-yt-scrnshot2web1ss.jpg);
}
#eleven{
    background-image: url(images/Heartsofiron4_bg.jpg);
}
#twelve{
    background-image: url(images/euiv-frontpage.jpg);
}
#thirteen{
    background-image: url(images/Surviving_Aftermath_bg.jpg);
}
#fourteen{
    background-image: url(images/cities-img.jpg);
}
#fifteen{
    background-image: url(images/Surviving_Mars_bg2.jpg);
}   


.slider{
    height:242px ;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    overflow-x: auto;
    
    
}
.arrow{
    border: .5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 41.6px;
    
    color: white;
}



.btn-light:hover{
    background-color: transparent;
    color: white;
}

.btn-outline-secondary:hover{
    background-color: white;
    color: black;
}

.btn-outline-secondary{
    color: white;
}


.footlogo{
    width: 120px;
    height: 25.6333px;
    margin-left: 1.5rem;
    
}
.logo-and-media{
    background-color: #101010;
}
.footicons{
    width: 240px;
    height:52px;
    
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    
}
.copyright{
    color: white;
    background-color: #101010;
}
.copy{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.cookie{
    position: fixed;
    left: 15px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url(images/ot_persistent_cookie.png);

}
